 div.prompt {
     display:none;
}
#notebook-container{
 font-size: 1.0em;
}

article.h-entry{
    margin-top: 20px;
}

py_img{
    padding:10px;
}
p.more{
   text-align:center!important; 
}

.container{
max-width:770px;
}

div.inner_cell{
    overflow:auto;

}
.body-content{
    display:block;
    margin: 0 auto;
}
hr .sep{
    height: 1px;
    background: #bbb;
    background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
    background-image: -moz-linear-gradient(left, #eee, #777, #eee);
    background-image: -ms-linear-gradient(left, #eee, #777, #eee);
    background-image: -o-linear-gradient(left, #eee, #777, #eee);
}

body {
    background-size: 100%;
    background-image:url(/images/background.png);
    background-position:center center;
    background-repeat:no-repeat;
    font-family: Monaco,Consolas, Lucida Sans Unicode, Hiragino Sans GB, "Microsoft YaHei",WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    background-color: #f5f7f9;
    background-attachment: fixed;
}
pre {
    font-family: Menlo,Monaco,Consolas, Lucida Sans Unicode, Hiragino Sans GB, "Microsoft YaHei",WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}
.rendered_html p {
    max-width:100%;
}



div.output_subarea.output_stream.output_stdout.output_text {
    max-width: 100%;
    background: #fbf1e6;
}
article >  header > h2{
    text-align:center;
}
div.output_subarea{
    max-width:100%;
}
div.output_png{
    text-align:center;
}

/*#cboxOverlay{
background:#666666;
}*/
/*
::selection {
    background-color: #dddedf;
}; 
*/
/*@media (max-width: @screen-xs-max) {
nav {
    max-width:10%;
}
}*/
